{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
    <div>
      <a href="/login">Log out</a>
    </div>
    <h1>Welcome: {{ user.name }}</h1>
    <div>
        <h2>Contacts</h2>
        <ul class="contacts">
            {% for contact in user.contacts %}
                <li> {{ contact }}
                  {% comment %} // TODO if statement if chat is true else geen button {% endcomment %}
                <form action="/addChat" method="post">
                <input type="text" name="user" value="{{ user.id }}">
                <input type="text" name="contact" value="{{ contact }}">
                <button type="submit">Make a chat with {{ contact }}</button>
                </form>  
                {% comment %} <a href="/account/{{ user.id }}/makeChatWith/{{ contact }}">
                Make a chat with {{ contact }}
                </a> {% endcomment %}
                </li>
            {% endfor %} 
        </ul>
    </div>
    <div>
      <h2>Chats</h2>
      <ul>
        {% for chat in user.chats %}
          <li>Chat with: <a href="/account/{{ user.id }}/chat/{{ chat.id }}">person {{ chat.name }}</a></li>
        {% endfor %} 
      </ul>
    </div>
    <section>
      <h2>Add contact</h2>
      <form action="#" id="addContact">
        <label>Name:
          <input type="text" name="name">
        </label>
        <button type="submit">Add contact</button>
      </form>
    </section>
</main>
  {% comment %} <script src="js/addContact.js"></script>
  <script src="js/createChat.js"></script> {% endcomment %}
  <script src="/js/extraFunctions.js"></script>
  <script src="/js/loginSignup.js"></script>
{% endblock %}
