{% layout "src/views/layouts/base.liquid" %}

{% block contentMain %}
<main>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
    <div>
      <a href="/login">Log out</a>
    </div>
    <h1>Welcome: {{ user.name }}</h1>
    <div>
        <h2>Contacts</h2>
        <ul class="contacts">
            {% for contact in user.contacts %}
                <li>{{ contact.name }}
                  {% if contact.existingChat == false %}
                    <form action="/addChat" method="post">
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="hidden" name="contact" value="{{ contact.id }}">
                    <button type="submit">New chat</button>
                    </form>  
                  {% endif %}
                </li>
            {% endfor %} 
        </ul>
    </div>
    <div>
      <h2>Chats</h2>
      <ul class="chats">
        {% for chat in user.chats %}
          <li>Chat with: <a href="/account/{{ user.id }}/chat/{{ chat.id }}"> {{ chat.name }}</a></li>
        {% endfor %} 
      </ul>
    </div>
    <section>
      <h2>Add contact</h2>
      {% comment %} Look if the js is working with js? {% endcomment %}
      <form action="/addContact" id="addContact" method="post">
        <label>Name:
          <input type="text" name="name">
        </label>
        <input type="hidden" name="userId" value="{{ user.id }}">
        <button type="submit">Add contact</button>
      </form>
    </section>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/addContact.js"></script>
<script src="/js/removeLoc.js"></script>
<script src="/js/sw.js"></script>
{% endblock %}
