{% layout "src/views/layouts/base.liquid" %}
{% block head %}
  <link rel="stylesheet" href="/styles/message.css">
{% endblock %}
{% block contentHeader %}
<header>
  {% if showNotification %}
    {% render '../components/noti.liquid' %}
  {% endif %}
</header>
{% endblock %}
{% block contentMain %}
<main>
  {% comment %} <h1>Send a message to {{ contact.name  }}</h1> {% endcomment %}
  {% if chatOpen %}
    <div class="chat-box">
      <div><img src="{{ contact.pfPicture }}" alt="profile picture"><h2><span class="visually-hidden">You are messaging: </span>{{ contact.name }}</h2></div>
      <section class="message-box">
        <h2 class="visually-hidden">All the messages of the chat are shown here:</h2>
        {% for chat in chats %}
          <p class="{{ chat.direction }}">Message from {{ chat.fact.from }}: {{ chat.fact.text }}</p>
        {% endfor %}
      </section>
      <form action="/addMessageWithRefresh" method="post" class="textForm">
        <textarea placeholder="Enter text" id="textInput" name="text" cols="30" rows="10"></textarea>
        <input type="hidden" name="messageId" value="0" >
        <input type="hidden" name="icon" value="/icon/iconportfoliozwart.png">
        <input type="hidden" name="chatId" value="{{ chatId }}">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <button type="submit"><span class="visually-hidden">Send Text</span><img src="/icons/send.svg" alt=""> </button>
      </form>
    </div>
    {% else %}
    <div class="chat-box">
        <h2 class="visually-hidden">You havent opened a chat yet.</h2>
        <p>Open a chat</p>
        <img src="" alt="">
      </div>
  {% endif %}
<section class="sidebar">
  <h2 class="visually-hidden">Sidebar with chats and account info</h2>
  <section class="profile">
    <h3 class="visually-hidden">Account info</h3>
    <button><img src="/images/settings.png" alt="settings symbol"></button>
    <div>
      <p><span class="visually-hidden">Account from: </span>{{ currentUser.name }}</p>
      <img src="{{ currentUser.pfPicture }}" alt="Profile picture of {{ currentUser.name }}"></div>
      <button>      <img src="/images/openMenu.png" aria-label="" alt=""></button>


      <div class="profileMenu">
        <button><img src="/images/settings.png" alt="settings symbol"></button>
        <a href="/login">Log out</a>
        <form action="/addContact" id="addContact" method="post">
          <label>Name:
            <input type="text" name="name">
          </label>
          <input type="hidden" name="userId" value="{{ user.id }}">
          <button type="submit">Add contact</button>
       </form>
        {% comment %} <a href="/settings/{{  currentUser.id }}"></a> {% endcomment %}
      </div>
  </section>
  {% comment %} // TODO click on profiel and a menu shows up with a logout button + seetings link to settings page? {% endcomment %}
  <ul class="chats">
    {% for chat in currentUser.chats %}
      <li><span class="visually-hidden">Chat with: </span><a href="/account/{{ currentUser.id }}/chat/{{ chat.id }}"><img src="" alt="pf"> {{ chat.name }}</a></li>
    {% endfor %} 
  </ul>
</section>

</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/addMessage.js"></script>
<script src="/js/addContact.js"></script>
<script src="/js/profilePopup.js"></script>
<script src="/js/sw.js"></script>
{% endblock %}
