{% layout "src/views/layouts/base.liquid" %}
{% block head %}
  <link rel="stylesheet" href="/styles/message.css">
{% endblock %}
{% block content %}
<header>
  <a href="../">Back</a>
  <p>{{ currentUser.name }}</p>
  <img src="" alt="profile photo">
</header>
<main>
  <h1>Send a message to {{ contact.name  }}</h1>
  <div class="chat-box">
    <form action="/addMessageWithRefresh" method="post" class="textForm">
      <input type="text" name="text" id="textInput" placeholder="Enter text">
      <input type="hidden" name="messageId" value="0" >
      <input type="hidden" name="icon" value="/icon/iconportfoliozwart.png">
      <input type="hidden" name="chatId" value="{{ chatId }}">
      <input type="hidden" name="userId" value="{{ currentUser.id }}">
      <button type="submit">Send Text</button>
      {% comment %} <section>
        <form action="/trigger-push-msg" method="post">
          <label>Title 
            <input type="text" name="title">
          </label>
          <label>Body 
            <input type="text" name="body">
          </label>
            <input type="hidden" name="icon" value="/icon/iconportfoliozwart.png">
            <input type="hidden" name="userId" value="{{ user.id }}">
          <button type="submit">Send</button>
        </form>
      </section> {% endcomment %}
    </form>
    <ul class="message-box">
      {% for chat in chats %}
        <li>Message from {{ chat.from }}: {{ chat.text }}</li>
      {% endfor %}
    </ul>
  </div>
  <ul class="chats">
    {% for chat in user.chats %}
      <li>Chat with: <a href="/account/{{ user.id }}/chat/{{ chat.id }}"> {{ chat.name }}</a></li>
    {% endfor %} 
  </ul>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/addMessage.js"></script>
{% endblock %}
