{% layout "src/views/layouts/base.liquid" %}

{% block content %}
<main>
  <div>
    <a href="../">Back</a>
  </div>
  <h1>Send a message to {{ contact.name  }}</h1>
  <div class="chat-box">
    <form action="/addMessageWithRefresh" method="post" class="textForm">
      <input type="text" name="text" id="textInput" placeholder="Enter text">
      <input type="hidden" name="messageId" value="0" >
      <input type="hidden" name="chatId" value="{{ chatId }}">
      <input type="hidden" name="userId" value="{{ currentUser.id }}">
      <button type="submit">Send Text</button>
    </form>
    <ul class="message-box">
      {% for chat in chats %}
        <li>Message from {{ chat.from }}: {{ chat.text }}</li>
      {% endfor %}
    </ul>
  </div>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/addMessage.js"></script>
{% endblock %}
