{% layout "src/views/layouts/base.liquid" %}
{% block head %}
  <link rel="stylesheet" href="/styles/message.css?4">
  <link rel="stylesheet" href="/styles/emptyChat.css?5">
  <link rel="stylesheet" href="/styles/error.css?2">
{% endblock %}
{% block contentHeader %}
{% if showNotification %}
  <header>
      {% render '../components/noti.liquid' %}
  </header>
{% endif %}
{% endblock %}
{% block contentMain %}
<main>
  {% if errorMessage %}
    <section class="errorSection">
      <h2>An error occurred</h2>
      <p>Error: {{ errorMessage }}</p>
    </section>
  {% endif %}
  {% comment %} <h1>Send a message to {{ contact.name  }}</h1> {% endcomment %}
  {% if chatOpen %}
    <div class="chat-box">
      <div>
        {% if contact.pfPicture %}
          <img src="{{ contact.pfPicture }}" alt="profile picture">
          {% else %}
          <img src="/images/profileDefault.png" alt="profile picture">
        {% endif %}
        <h2><span class="visually-hidden">You are messaging: </span>{{ contact.name }}</h2></div>
      <section class="message-box">
        <h2 class="visually-hidden">All the messages of the chat are shown here:</h2>
        <div>
          {% comment %} {% for chat in chats %}
            <p class="{{ chat.direction }}">{{ chat.fact.text }} <span><span class="visually-hidden">Time:</span>
              {{ chat.fact.dateTime }}
            </span>
            {% if contact.pfPicture %}
              <img src="{{ contact.pfPicture }}">
              {% else %}
              <img src="/images/profileDefault.png">
            {% endif %}
            </p>
          {% endfor %} {% endcomment %}
          {% for chat in chats %}
            {% assign messageDate = chat.fact.dateTime | date: '%m/%d/%Y' %}
            {% assign messageTime = chat.fact.dateTime | date: '%H:%M' %}
            
            {% capture currentDate %}{{ 'now' | date: '%m/%d/%Y' }}{% endcapture %}
            {% capture messageDateFormatted %}{{ messageDate | date: '%m/%d/%Y' }}{% endcapture %}
          
            <p class="{{ chat.direction }}">
              {{ chat.fact.text }}
              <span>
                <span class="visually-hidden">Time:</span>
                {% if messageDateFormatted == currentDate %}
                  {{ messageTime }}
                {% else %}
                  {{ messageDate }}
                {% endif %}
              </span>
          
              {% if contact.pfPicture %}
                <img src="{{ contact.pfPicture }}">
              {% else %}
                <img src="/images/profileDefault.png">
              {% endif %}
            </p>
          {% endfor %}
        </div>
      </section>
      <form action="/addMessageWithRefresh" method="post" class="textForm">
        <textarea placeholder="Enter text" id="textInput" name="text" cols="30" rows="10" required></textarea>
        <input type="hidden" name="messageId" value="0" >
        <input type="hidden" name="icon" value="/icon/iconportfoliozwart.png">
        <input type="hidden" name="chatId" value="{{ chatId }}">
        <input type="hidden" name="userId" value="{{ currentUser.id }}">
        <button type="submit"><span class="visually-hidden">Send Text</span><img src="/icons/send.svg" alt=""> </button>
      </form>
    </div>
    {% else %}
    <div class="chat-box empty">
        <h2 class="visually-hidden">You havent opened a chat yet.</h2>
        <p>Open a chat</p>
        <img src="" alt="">
      </div>
  {% endif %}
<section class="sidebar">
  <h2 class="visually-hidden">Sidebar with chats and account info</h2>
  <section class="profile">
    <h3 class="visually-hidden">Account info</h3>
    <button><img src="/images/settings.png" alt="settings symbol"></button>
    <div>
      <p class="visually-hidden"><span class="visually-hidden">Account from: </span>{{ currentUser.name }}</p>
      {% if currentUser.pfPicture %}
        <img src="{{ currentUser.pfPicture }}" alt="Profile picture of {{ currentUser.name }}">
        {% else %}
        <img src="/images/profileDefault.png" alt="Profile picture of {{ currentUser.name }}">
      {% endif %}
      </div>
      <button><img src="/images/openMenu.png" aria-label="" alt=""></button>


      <div class="profileMenu">
        <button><img src="/images/close.png" alt="settings symbol"></button>
        <a href="/login">Log out</a>
        <h4>Add new contact:</h4>
        <form action="/addContact" id="addContact" method="post">
          <label>Name:
            <input type="text" name="name">
          </label>
          <input type="hidden" name="userId" value="{{ user.id }}">
          <button type="submit">Add contact</button>
       </form>
        {% comment %} <a href="/settings/{{  currentUser.id }}"></a> {% endcomment %}
      </div>
  </section>
  {% comment %} // TODO click on profiel and a menu shows up with a logout button + seetings link to settings page? {% endcomment %}
  <ul class="chats">
    {% for chat in currentUser.chats %}
      <li><span class="visually-hidden">Chat with: </span><a href="/account/{{ currentUser.id }}/chat/{{ chat.id }}">
     {% if currentUser.pfPicture %}
      <img src="{{ currentUser.pfPicture }}" alt="pf">
      {% else %}
      <img src="/images/profileDefault.png" alt="pf">
     {% endif %}      
      {{ chat.name }}</a></li>
    {% endfor %} 
  </ul>
</section>
</main>
<script src="/js/extraFunctions.js"></script>
<script src="/js/addMessage.js"></script>
<script src="/js/addContact.js"></script>
<script src="/js/profilePopup.js"></script>
<script src="/js/sw.js"></script>
{% endblock %}
